@page
@model VolleyPlayerList.Pages.PlayerList.CreateModel

<h2 class="text-info text-center text-black-50">Add Player</h2>

<div class="border container" style="padding:30px">
    <form method="post">
        <div class="text-danger" asp-validation-summary="ModelOnly"></div>
        <div class="form-group row">
            <div class="col-4">
                <label asp-for="VolleyPlayer.Name">Name</label>
            </div>
            <div class="col-6">
                <input asp-for="VolleyPlayer.Name" class="form-control" />
            </div>
            <span asp-validation-for="VolleyPlayer.Name" class="text-danger"></span>
        </div>

        <div class="form-group row">
            <div class="col-4">
                <label asp-for="VolleyPlayer.LastName">Last Name</label>
            </div>
            <div class="col-6">
                <input asp-for="VolleyPlayer.LastName" class="form-control" />
            </div>
            <span asp-validation-for="VolleyPlayer.LastName" class="text-danger"></span>
        </div>

        <div class="form-group row">
            <div class="col-4">
                <label asp-for="VolleyPlayer.Rate">Rate</label>
            </div>
            <div class="col-6">
                <input asp-for="VolleyPlayer.Rate" class="form-control" />
            </div>
            <span asp-validation-for="VolleyPlayer.Rate" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-3 offset-4">
                <input type="submit" value="Create" class="btn btn-primary form-control"/>
            </div>
            <div class="col-3">
                <a asp-page="Index" class="btn btn-success" form-control>Back to List</a>
            </div>
        </div>
    </form>
</div>
@section Scripts{ 
   <partial name="_ValidationScriptsPartial" />
}